body{
	font-family: sans-serif;
	margin: 0;
	height: 400px;
  background-image: url("https://img.freepik.com/vector-gratis/fondo-forma-poligono-azul-abstracto_125759-310.jpg");
background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
